<div class="container p-4">
  <div class="row">
    {{#each links}}
    <div class="col-md-3">
      <div class="card text-center">
        <div class="card-body">
          <a href="{{url}}" target="_blanck">
            <h3 class="card-title text-uppercarse">
              {{title}}
            </h3>
          </a>
          <p class="m-2">{{description}}</p>
          <p>{{timeago created_at}}</p>
          <a href="" class="btn btn-danger">Borrar enlace</a>
          <a href="" class="btn btn-secondary">Editar</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>